.card {
  height: auto;
  width: fit-content;
  min-width: 35rem;
  background-color: black;
}

.card #botheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  margin: 0 0.8rem;
}

.card #botheader h1 {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Finger Paint", cursive;
  padding: 1rem 1rem 1rem 0;
}

.card #message-section::-webkit-scrollbar {
  width: 10px;
}

.card #message-section {
  height: 30rem;
  max-height: 450px;
  overflow-y: auto;
  scrollbar-color: black var(--thumbBG);
}

.card #message-section::-webkit-scrollbar {
  width: 3px;
}

.card #message-section::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}

.card #message-section::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

.card #message-section #bot,
.card #message-section #user {
  display: flex;
  position: relative;
  bottom: 0;
  min-height: 1.2rem;
  background-color: rgb(63, 63, 70);
  color: #fff;
  border-radius: 0 1rem 1rem 1.2rem;
  margin: 0.4rem 1.4rem 0rem;
}

.card #message-section #bot {
  float: left;
  padding-left: 1.4rem;
  padding: 0.4rem 1rem 0.6rem 1rem;
}

.card #message-section #user {
  border-radius: 1rem 0rem 1rem 1.4rem;
  background-color: #fff;
  float: right;
  padding: 0.4rem 1rem 0.6rem 1rem;
  color: #000000;
}

.card #message-section .message {
  color: #000;
  clear: both;
  line-height: 1.4rem;
  font-size: 1rem;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
  z-index: 2;
}

.card #input-section {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 0.8rem;
  margin-bottom: 1rem;
}

.card #input-section input{
  background-color: rgb(63, 63, 70);
  color: white;
}

.card .send {
  background: transparent;
  border: 0;
  cursor: pointer;
  flex: 0 0 auto;
  margin-left: 1em;
  margin-right: 0;
  padding: 0;
  position: relative;
  outline: none;
}

.circle:hover,
.circle:active {
  opacity: 0.7;
}

.card .send .circle {
  position: relative;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  background-color: rgb(57, 57, 150);
  border-radius: 10px;
  color: #fff;
}

input:focus, .circle:focus, .send:focus , button:focus {
  border: 1px solid white !important;
  outline: none; 
  border-radius: 10px;
}

.quickmessage {
  background-color: rgb(57, 57, 150);
  color: #ffffff;
  border-radius: 20px;
  padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  margin-bottom: 0px;
  margin-top: 3px;
}

.typing-animation {
  animation: typing 0.5s ease-in-out infinite;
}

@keyframes typing {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}